<!DOCTYPE html>
<html  xmlns:th=https://www.thymeleaf.org/>
<head>
<meta charset="ISO-8859-1">
<title>Show Coupon </title>
</head>
<body>
 <b> Show Coupon  </b> <br/><br/>
<table>
		<tr>
			<th>Code</th>
			<th>Discount</th>
			<th>Expiry Date</th>
		</tr>
		<tr th:each="couponObj:${couponList}">
			<td th:text="${couponObj.code}"></td>
			<td th:text="${couponObj.discount}"></td>
			<td th:text="${couponObj.expDate}"></td>
		</tr>

	</table>
	<a href="/index">Home</a>
 <br/>
	<!-- for logout no need to write any controller method -->
	<!-- <a href="/logout">Logout</a> -->
	
		<!-- In case of csrf enabled post logout is working -->
	<form th:action="@{/logout}" method="post">
    <input type="submit" value="POST LOGOUT"></input>
     </form>
</body>
</html>