<html  xmlns:th=https://www.thymeleaf.org/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Register User</title>
</head>
<body>
<h2>User Registration:</h2>
<form action="/registerUser" method="post">
<pre>
First Name: <input type="text" name="firstName"/>
Last Name:  <input type="text" name="lastName"/>
User Name: <input type="text" name="email"/>
Password: <input type="password" name="password"/>
Confirm Password: <input type="password" name="confirmPassword"/>
<input type="submit" value="Register"/>
</pre>
</form>

<br/>
	<a href="/index">Home</a>
 <br/>
	<!-- for logout no need to write any controller method -->
	<!-- <a href="/logout">Logout</a> -->
	
		<!-- In case of csrf enabled post logout is working -->
	<form th:action="@{/logout}" method="post">
    <input type="submit" value="POST LOGOUT"></input>
     </form>
	
</body>
</html>